    <h1>Login</h1>

    <div>
      This should be a login page. If the user successfully logs, they should 
      be redirect to this link: <a href="<%= redirectURISuccess %>">Complete Account Link</a>
    </div>

    <div>
      Account linking token: <%= accountLinkingToken %> 
    </div>

    <div>
      Redirect URI: <%= redirectURI %> 
    </div>

    <div>
      Redirect URI Successful: <%= redirectURISuccess %> 
    </div>
    

<%- contentFor('pageTitle') %>
<%= title %>